*{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    min-width: min-content;
    /* background-image: url('./bg/bg.jpg'); */
    background-image: url('./bg/bg3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url(./icon/cursor.png), auto;
    
}

.wapper{
    width: min(100% - 2rem, 9.2rem);
    height: min(100% - 1rem, 8.1rem);
    /* border: 2px solid rgba(255, 255, 255,.1); */
    display: flex;
    justify-content: end;
    align-items: end;
}

#icon{
    background: transparent;
    /* border: 2px solid rgba(255, 255, 255,.1); */
    border:none;
    background-image: url(./icon/mouse.png);
    width: min(100% - 2rem, 5rem);
    height: min(100% - 1rem, 5rem);
    background-size: cover;
    transition-property: transform;
    cursor: url(./icon/cursor.png), auto;
}
