*{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    min-width: min-content;
    background-image: url('./bg/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url(./icon/cursor.png), auto;
    
}

/* .wapper{
    position: relative;
    width: min(100% - 3rem, 20rem);
    height: min(100% - 3rem, 20rem);
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(1rem);
    border-radius: 1.3rem;
    box-shadow: 0 0  5rem rgba(0, 0, 0, .9);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    cursor: url(./icon/cursor.png), auto;
} */


#icon{
    padding: 0.1rem;
    background: transparent;
    border:none;
    color: rgba(255, 255, 255,.5);
    background-image: url(./icon/mouse.png);
    width: min(100% - 2rem, 5rem);
    height: min(100% - 1rem, 5rem);
    background-size: cover;
    transition-property: transform;
    cursor: url(./icon/cursor.png), auto;
}

